<h2 class="text-center">
    Iniciar Sesión
</h2>

<div>
    <div class="form-group">
      <label for="inpEmail">Correo Electrónico</label>
      <input type="email" class="form-control" id="inpEmail"  placeholder="Ingrese su correo..." #userEmail required>
    </div>
    <div class="form-group">
      <label for="inpPassword">Contraseña</label>
      <input type="password" aria-describedby="emailHelp" class="form-control" id="inpPassword" placeholder="Ingrese su contraseña..." #userPassword required>
    </div>
    <button class="btn btn-primary center" (click)="autenticacionService.signInUser(userEmail.value, userPassword.value)">Ingresar SSIA</button>
    <button class="btn btn-primary center mt-4" (click)="autenticacionService.signInProveedor(userEmail.value, userPassword.value)">Ingresar Proveedor</button>
    <div class="redirectToLogin">
        <span>No tienes una cuenta?<span class="redirect crear-cuenta" routerLink="/registrarse">Crear Una</span></span>
    </div>
  </div>