<h2 class="text-center">
    Crear nueva subasta
</h2>

<div>

    <app-seleccionar-productos></app-seleccionar-productos>

    <!-- Nombres -->
    <div class="form-group">
        <label for="inpDetalle">Detalle:</label>
        <input type="text" class="form-control" id="inpDetalle" placeholder="Ingrese mas detalles de la subasta..." #subDetalle required>
    </div>

    <!-- Apellidos -->
    <div class="form-group">
        <label for="inpMax">Valor Máximo:</label>
        <input type="number" class="form-control" id="inpMax" placeholder="Ingrese el valor maximo de las ofertas..." #subMax required>
    </div>

    <!-- Boton SSIA -->
    <button class="btn btn-primary center" 
        (click)="crearSubasta(subDetalle.value, subMax.value)">
        Crear Subasta
    </button>
</div>


